* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD,
    Georgia, serif;
  background-color: #1a374d;
}

/* Everything is inside this */
div.mainContainer {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* H1 for header title */
h1.title {
  color: white;
  padding-bottom: 1rem;
}

/* Div that holds book details */
div.bookDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 20rem;
  width: 20rem;
  background-color: #6998ab;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* H2 for add books */
h2.addBook {
  margin: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

/* FormBox style */
div.formBox {
  margin-bottom: 1.5rem;
}

/* FormBox label style */
div.formBox > label {
  font-size: 1rem;
  font-weight: bold;
}

/* FormBox input style */
div.formBox > input {
  height: 1rem;
  border: 1px solid black;
  background-color: #6998ab;
}

/* FormBox input style for pages only*/
div.formBox > input#pages {
  width: 4rem;
}

/* Button for adding a new book */
button.addBook {
  border: none;
  background: none;
}

button.addBook:hover {
  transform: scale(1.1);
}

button.addBook:active {
  transform: scale(0.95);
}

button.addBook > img {
  height: 4rem;
  width: 4rem;
}

/* Div that holds objects of books */
div.bookShelf {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  max-width: 83%;
  background-color: #adcbd7;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/*
#1a374d
#406882
#6998ab
#adcbd7
#924bed
*/
